.App {
  display: flex;
}
.AddCardButton{
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.AddColumnButton{
      height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.CardForm{
    font-size: small;
  margin-left: 20px;
  border: 2px solid;
  padding: 10px 10px;
  max-height: 500px;
  margin-top: 20px;
}
.ColumnArea{
  border: 1px solid;
  padding: 20px 10px;
}